<body class="sign-in">
	

  <div class="wrapper">
    

    <div class="sign-in-page" style="margin-top:0px; padding-top:20px;">
        <div class="row">
            <div class="col-sm-6">
              <div class="row">
                <div class="col-sm-8 col-sm-offset-4 ">
                  <div class="logo">ScholorsBook</div>
                </div>
              </div>
            </div>
            <div class="col-sm-5 col-sm-offset-1">
              <div class="row">
                <div class="col-sm-3 input">
                    <div class="form-group">
                      <input type="text" class="form-control form-control-login" placeholder="Email Address">
                      <div class="login-bottom-text checkbox">
                        <label>
                          <input type="checkbox" id="">
                          Keep me sign in
                        </label>
                      </div>
                    </div>
                </div>	
                
                <div class="col-sm-3 input">
                   <div class="form-group">
                      <input type="password" class="form-control form-control-login" placeholder="Password">
                      <div class="login-bottom-text checkbox ">
                          <label>
                           Forgot password?
                          </label>
                      </div>
                    </div>
                </div>
                <div class="col-sm-2">
                   <div class="form-group">
                      <input type="button" (click)="login()" value="login" class="btn btn-default btn-login btn-header-login">
                    </div>
                </div>
              </div>	
            </div>
          </div>
      <div class="signin-popup">
        <div class="signin-pop">
          <div class="row bg-image">
            <div class="col-lg-6">
              <div class="cmp-info">
                <div class="cm-logo">
                   <h1>ScholorsBook</h1>
                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an </p>
                </div><!--cm-logo end-->	
                <img src="assets/images/cm-main-img.png" alt="">			
              </div><!--cmp-info end-->
            </div>
            
            <form #userForm="ngForm">
              <div class="col-lg-4 col-lg-offset-1">
                  <h3>Sign Up</h3>
                  <div *ngIf="success" class="alert alert-dismissible alert-success">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>Well done!</strong> User Registered Successfuly.
                    </div>
                      
                        <div id="personal">
                            
                                <div class="row">
                                  <div class="col-lg-6">
                                    <div class="form-group">
                                      <input type="text" class="form-control" name="firstname" pattern="^[a-zA-Z]+$" required [(ngModel)]="newUser.firstname" placeholder="Firstname" #name="ngModel">
                                      <span  style="color:red" *ngIf="name.dirty && name.errors?.required">
                                          First Name is required
                                      </span>
                                      <span  style="color:red" *ngIf="name.dirty && name.errors?.pattern">
                                          Only alphabets are allowed
                                      </span>
                                    </div><!--sn-field end-->
                                  </div>
                                  <div class="col-lg-6">
                                    <div class="form-group">
                                      <input type="text" class="form-control" name="lastname" [(ngModel)]="newUser.lastname" placeholder="Lastname">
                                      
                                    </div>
                                  </div>
                                  
                                  
                                </div>
                                <div class="row">
                                    <div class="col-lg-6 ">
                                      <div class="form-group">
                                        <input type="text" class="form-control" name="phone"  required [(ngModel)]="newUser.mobile" placeholder="Mobile" #phone="ngModel">
                                        

                                      <span  style="color:red" *ngIf="phone.dirty && phone.errors?.required">
                                          Phone is required
                                        </span>
                                        
                                        

                                      </div><!--sn-field end-->
                                    </div>
                                    <div class="col-lg-6">
                                      <div class="form-group">
                                        <input type="text" class="form-control" name="email"  pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" placeholder="Email" #Email="ngModel"  [(ngModel)]="newUser.email">
                                        <span  style="color:red" *ngIf="Email.errors?.pattern && Email.touched">
                                            Invalid Email
                                          </span>
                                      </div>
                                    </div>
                                </div>

                              <div class="row">
                                    <div class="col-lg-12 ">
                                      <div class="form-group">
                                        <input type="text" class="form-control" name="address" [(ngModel)]="newUser.address" placeholder="Address">
                                        
                                      </div><!--sn-field end-->
                                    </div>
                                  
                              </div> 
                              
                              <div class="row">

                                  <div class="col-lg-6 ">
                                    <div class="form-group">
                                      <input type="password" class="form-control" name="password" required [(ngModel)]="newUser.password" placeholder="Password" #password="ngModel">
                                      <span  style="color:red" *ngIf="password.dirty && password.errors?.required">
                                          Password is required
                                       </span>
                                      
                                    
                                    </div><!--sn-field end-->
                                  </div>

                                  <div class="col-lg-6 ">
                                      <div class="form-group">
                                        <input type="password" class="form-control" name="confirmpassword" appConfirmEqualValidator="password" required [(ngModel)]="Confirmassword" placeholder="Confirm Password" #confirmpassword="ngModel">
                                        <span  style="color:red" *ngIf="confirmpassword.dirty && confirmpassword.errors?.required">
                                           Confirm Password is required
                                        </span>

                                        <span  style="color:red" *ngIf="confirmpassword.dirty && confirmpassword.errors?.notEqual && !confirmpassword.errors?.required">
                                            Password do not match
                                         </span>
                                       
                                      </div><!--sn-field end-->
                                    </div>
                                
                              </div> 
                                 
                              <div class="row">
                                  <div class="col-lg-12 ">
                                  <label class="">Birthday</label>
                                  <div class="form-group">
                                      <div class="col-lg-4 multibox">
                                        <select class="form-control" name="birthday" [(ngModel)]="newUser.birthday">
                                          <option value="-1">Day</option>
                                          <option *ngFor="let day of days" value= {{day}}>
                                            {{day}}
                                          </option>
                                        </select>
                                      </div>
                                      <div class="col-lg-4 multibox">
                                        <select class="form-control" name="birthmonth" [(ngModel)]="newUser.birthmonth">
                                          <option value="Month">Month</option>
                                          <option *ngFor="let month of months" value= {{month}}>
                                            {{month}}
                                          </option>
                                        </select>
                                      </div>
                                      <div class="col-lg-4 multibox">
                                        <select class="form-control" name="birthyear" [(ngModel)]="newUser.birthyear">
                                          <option value="-1">Year</option>
                                          <option *ngFor="let year of years" value= {{year}}>
                                            {{year}}
                                          </option>
                                        </select>
                                      </div>
                                  </div> 
                                  </div>
                              </div>
                              <div class="row">
                                <div class="col-lg-6 ">
                                  <label class="radio-inline">
                                      <input type="radio" name="gender" value="male" [(ngModel)]="newUser.gender" checked>Male
                                    </label>
                                    <label class="radio-inline">
                                      <input type="radio" name="gender" value="female" [(ngModel)]="newUser.gender" >Female
                                    </label>

                                </div>   
                              </div> 
                              <br>
                              <div class="row">
                                <div class="form-group">
                                    <div class="col-lg-12">
                                        <div class="pattern2">
                                          <div class="">
                                            <input type="checkbox" required [(ngModel)]="newUser.isActive" name="isActive" id="c2"  #isactive="ngModel">
                                            <label for="c2">
                                              <span></span>
                                            </label>
                                            <small>Yes, I understand and agree to the scholors book Terms & Conditions.</small>
                                          </div><!--fgt-sec end-->
                                          <span style="color:red" *ngIf="isactive.touched && isactive.errors?.required">Please accept terms and conditions</span>
                                        </div>
                                        
                                    </div>
                                  </div>
                                </div>   
                              <br>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-lg-6">
                                  <input type="button" (click)="addUsers()" value="submit" class="btn btn-default" [disabled]="!userForm.form.valid" >
                                </div> 
                            </div>
                        </div>      
                        </div>
                        
                        
                        
                    
                   
              </div>
            </form>
          </div>		
        </div><!--signin-pop end-->
      </div><!--signin-popup end-->
      <div class="footy-sec">
        <div class="container">
          <ul>
            <li><a href="#" title="">Help Center</a></li>
            <li><a href="#" title="">Privacy Policy</a></li>
            <li><a href="#" title="">Community Guidelines</a></li>
            <li><a href="#" title="">Cookies Policy</a></li>
            <li><a href="#" title="">Career</a></li>
            <li><a href="#" title="">Forum</a></li>
            <li><a href="#" title="">Language</a></li>
            <li><a href="#" title="">Copyright Policy</a></li>
          </ul>
          <p><img src="assets/images/copy-icon.png" alt="">Copyright 2018</p>
        </div>
      </div><!--footy-sec end-->
    </div><!--sign-in-page end-->


  </div><!--theme-layout end-->

</body>