.logo i {
	font-size: 31px;
	margin-right: 4px;
	word-spacing: 14px;
}
.logo{
	color: white;
	margin: 0;
	font-size: 30px;
	padding: 4px 0;
	padding-bottom: 15px;

}

.form-control-login{

  width: 100%;
  height: 25px;
  padding: 6px 12px;
  font-size: 14px;

}

.btn-login{

    padding: 1px 7px;
}

.nav-container{
	margin-bottom: 20px;
}

.multibox{
	padding-left: 0px;
	padding-bottom: 10px;
}

.ng-valid[required], .ng-valid.required  {
	border-left: 5px solid #42A948; /* green */
  }

  .ng-invalid:not(form)  {
	border-left: 5px solid #a94442; /* red */
	}  
	
	.input {
		padding-right: 7px;  
		padding-left: 5px;
	}

	.bg-image{
				background-image: url("src/assets/images/scholor.jpg");
				background-repeat: no-repeat;
				background-size: cover;
	}