<section class="profile-account-setting">
    <div class="container">
      <div class="account-tabs-setting">
        <div class="row">
          <div class="col-lg-3">
            <div class="acc-leftbar">
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <a class="nav-item nav-link active" id="nav-user-tab" data-toggle="tab" href="#nav-user" role="tab" aria-controls="nav-user" aria-selected="true"><i class="la la-user"></i>Personal Details</a>
                  <a class="nav-item nav-link " id="nav-edu-tab" data-toggle="tab" href="#nav-edu" role="tab" aria-controls="nav-edu" aria-selected="true"><i class="la la-book"></i>Education Details</a>
                 <a class="nav-item nav-link " id="nav-acc-tab" data-toggle="tab" href="#nav-acc" role="tab" aria-controls="nav-acc" aria-selected="true"><i class="la la-cogs"></i>Account Setting</a>
                  <a class="nav-item nav-link" id="nav-status-tab" data-toggle="tab" href="#nav-status" role="tab" aria-controls="nav-status" aria-selected="false"><i class="fa fa-line-chart"></i>Status</a>
                  <a class="nav-item nav-link" id="nav-password-tab" data-toggle="tab" href="#nav-password" role="tab" aria-controls="nav-password" aria-selected="false"><i class="fa fa-lock"></i>Change Password</a>
                  <a class="nav-item nav-link" id="nav-notification-tab" data-toggle="tab" href="#nav-notification" role="tab" aria-controls="nav-notification" aria-selected="false"><i class="fa fa-flash"></i>Notifications</a>
                  <a class="nav-item nav-link" id="nav-requests-tab" data-toggle="tab" href="#nav-requests" role="tab" aria-controls="nav-requests" aria-selected="false"><i class="fa fa-group"></i>Requests</a>
                  <a class="nav-item nav-link" id="security-login-tab" data-toggle="tab" href="#security-login" role="tab" aria-controls="security-login" aria-selected="false"><i class="fa fa-user-secret"></i>Security and Login</a>
                  <a class="nav-item nav-link" id="privacy-tab" data-toggle="tab" href="#privacy" role="tab" aria-controls="privacy" aria-selected="false"><i class="fa fa-paw"></i>Privacy</a>
                  <a class="nav-item nav-link" id="blockking-tab" data-toggle="tab" href="#blockking" role="tab" aria-controls="blockking" aria-selected="false"><i class="fa fa-cc-diners-club"></i>Blocking</a>
                  <a class="nav-item nav-link" id="nav-deactivate-tab" data-toggle="tab" href="#nav-deactivate" role="tab" aria-controls="nav-deactivate" aria-selected="false"><i class="fa fa-random"></i>Deactivate Account</a>
                </div>
            </div><!--acc-leftbar end-->
          </div>
          <div class="col-lg-9">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade in active" id="nav-user" role="tabpanel" aria-labelledby="nav-user-tab">
                    <div class="acc-setting" *ngIf="!edittogle">
                      <h3>Personal Details<span style="float:right"><button (click)="toggleme()"><i class="la la-edit"></i></button></span></h3>
                      <div  class="row profilerow" >
                        <div class="col-lg-3">Name</div>
                        <div class="col-lg-6 rowvalue">Vijay Pandey</div>
                        
                        
                      </div>
                      
                      <div class="row profilerow">
                          <div class="col-lg-3">Contact</div>
                          <div class="col-lg-6 rowvalue">7065152561</div>
                          
                          
                      </div>
                        <div class="row profilerow">
                            <div class="col-lg-3">Email</div>
                            <div class="col-lg-6 rowvalue">vijay@gmail.com </div>
                            
                            
                        </div>
                    </div><!--acc-setting end-->
                    <div class="" *ngIf="edittogle">
                        <form>
                            <fieldset>
                                <legend>Edit Details:</legend>
                            <div class="row">  
                              <div class="col-lg-6">
                                  <div class="form-group">
                                      <label for="fname">First Name:</label>
                                      <input type="text" class="form-control" id="fname">
                                    </div>
                              </div>  
                                
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="lname">Last Name:</label>
                                        <input type="text" class="form-control" id="lname">
                                      </div>
                                </div> 
                                
                            </div>
                            <div class="row">  
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="cnumber">Contact No:</label>
                                        <input type="text" class="form-control" id="cnumber">
                                      </div>
                                </div>  
                                  
                                  <div class="col-lg-6">
                                      <div class="form-group">
                                          <label for="email">Email:</label>
                                          <input type="email" class="form-control" id="email">
                                        </div>
                                  </div> 
                                  
                              </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                        <button (click)="toggleme()" type="button" class="btn btn-default">Cancel</button>
                      </fieldset>
                      </form>


                    </div>
                </div>
                <div class="tab-pane fade" id="nav-edu" role="tabpanel" aria-labelledby="nav-edu-tab">
                    <div class="acc-setting" *ngIf="!edittogle">
                      <h3>Education Details<span style="float:right"><button (click)="toggleme()"><i class="la la-edit"></i></button></span></h3>
                      <div  class="row profilerow" >
                          <div class="col-lg-3">Name</div>
                          <div class="col-lg-6 rowvalue">Vijay Pandey</div>
                          
                          
                        </div>
                        
                        <div class="row profilerow">
                            <div class="col-lg-3">Contact</div>
                            <div class="col-lg-6 rowvalue">7065152561</div>
                            
                            
                        </div>
                          <div class="row profilerow">
                              <div class="col-lg-3">Email</div>
                              <div class="col-lg-6 rowvalue">vijay@gmail.com </div>
                              
                              
                          </div>
                    </div><!--acc-setting end-->
                    <div class="" *ngIf="edittogle">
                        <form>
                            <fieldset>
                                <legend>Edit Details:</legend>
                            <div class="row">  
                              <div class="col-lg-6">
                                  <div class="form-group">
                                      <label for="fname">First Name:</label>
                                      <input type="text" class="form-control" id="fname">
                                    </div>
                              </div>  
                                
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="lname">Last Name:</label>
                                        <input type="text" class="form-control" id="lname">
                                      </div>
                                </div> 
                                
                            </div>
                            <div class="row">  
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="cnumber">Contact No:</label>
                                        <input type="text" class="form-control" id="cnumber">
                                      </div>
                                </div>  
                                  
                                  <div class="col-lg-6">
                                      <div class="form-group">
                                          <label for="email">Email:</label>
                                          <input type="email" class="form-control" id="email">
                                        </div>
                                  </div> 
                                  
                              </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                        <button (click)="toggleme()" type="button" class="btn btn-default">Cancel</button>
                      </fieldset>
                      </form>


                    </div>
                </div>  
              <div class="tab-pane fade" id="nav-acc" role="tabpanel" aria-labelledby="nav-acc-tab">
                <div class="acc-setting">
                  <h3>Account Setting</h3>
                  <form>
                    <div class="notbar">
                      <h4>Notification Sound</h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pretium nulla quis erat dapibus, varius hendrerit neque suscipit. Integer in ex euismod, posuere lectus id</p>
                      <div class="toggle-btn">
                        <a href="#" title=""><img src="images/up-btn.png" alt=""></a>
                      </div>
                    </div><!--notbar end-->
                    <div class="notbar">
                      <h4>Notification Email</h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pretium nulla quis erat dapibus, varius hendrerit neque suscipit. Integer in ex euismod, posuere lectus id</p>
                      <div class="toggle-btn">
                        <a href="#" title=""><img src="images/up-btn.png" alt=""></a>
                      </div>
                    </div><!--notbar end-->
                    <div class="notbar">
                      <h4>Chat Message Sound</h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pretium nulla quis erat dapibus, varius hendrerit neque suscipit. Integer in ex euismod, posuere lectus id</p>
                      <div class="toggle-btn">
                        <a href="#" title=""><img src="images/up-btn.png" alt=""></a>
                      </div>
                    </div><!--notbar end-->
                    <div class="save-stngs">
                      <ul>
                        <li><button type="submit">Save Setting</button></li>
                        <li><button type="submit">Restore Setting</button></li>
                      </ul>
                    </div><!--save-stngs end-->
                  </form>
                </div><!--acc-setting end-->
              </div>
                <div class="tab-pane fade" id="nav-status" role="tabpanel" aria-labelledby="nav-status-tab">
                  <div class="acc-setting">
                    <h3>Profile Status</h3>
                    <div class="profile-bx-details">
                      <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-12">
                          <div class="profile-bx-info">
                            <div class="pro-bx">
                              <img src="images/pro-icon1.png" alt="">
                              <div class="bx-info">
                                <h3>$5,145</h3>
                                <h5>Total Income</h5>
                              </div><!--bx-info end-->
                            </div><!--pro-bx end-->
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                          </div><!--profile-bx-info end-->
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                          <div class="profile-bx-info">
                            <div class="pro-bx">
                              <img src="images/pro-icon2.png" alt="">
                              <div class="bx-info">
                                <h3>$4,745</h3>
                                <h5>Widthraw</h5>
                              </div><!--bx-info end-->
                            </div><!--pro-bx end-->
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                          </div><!--profile-bx-info end-->
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                          <div class="profile-bx-info">
                            <div class="pro-bx">
                              <img src="images/pro-icon3.png" alt="">
                              <div class="bx-info">
                                <h3>$1,145</h3>
                                <h5>Sent</h5>
                              </div><!--bx-info end-->
                            </div><!--pro-bx end-->
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                          </div><!--profile-bx-info end-->
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                          <div class="profile-bx-info">
                            <div class="pro-bx">
                              <img src="images/pro-icon4.png" alt="">
                              <div class="bx-info">
                                <h3>130</h3>
                                <h5>Total Projects</h5>
                              </div><!--bx-info end-->
                            </div><!--pro-bx end-->
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                          </div><!--profile-bx-info end-->
                        </div>
                      </div>
                    </div><!--profile-bx-details end-->
                    <div class="pro-work-status">
                      <!-- <h4>Work Status  -  Last Months Working Status</h4> -->
                    </div><!--pro-work-status end-->
                  </div><!--acc-setting end-->
                </div>
                <div class="tab-pane fade" id="nav-password" role="tabpanel" aria-labelledby="nav-password-tab">
                  <div class="acc-setting">
                  <h3>Account Setting</h3>
                  <form>
                    <div class="cp-field">
                      <h5>Old Password</h5>
                      <div class="cpp-fiel">
                        <input type="text" name="old-password" placeholder="Old Password">
                        <i class="fa fa-lock"></i>
                      </div>
                    </div>
                    <div class="cp-field">
                      <h5>New Password</h5>
                      <div class="cpp-fiel">
                        <input type="text" name="new-password" placeholder="New Password">
                        <i class="fa fa-lock"></i>
                      </div>
                    </div>
                    <div class="cp-field">
                      <h5>Repeat Password</h5>
                      <div class="cpp-fiel">
                        <input type="text" name="repeat-password" placeholder="Repeat Password">
                        <i class="fa fa-lock"></i>
                      </div>
                    </div>
                    <div class="cp-field">
                      <h5><a href="#" title="">Forgot Password?</a></h5>
                    </div>
                    <div class="save-stngs pd2">
                      <ul>
                        <li><button type="submit">Save Setting</button></li>
                        <li><button type="submit">Restore Setting</button></li>
                      </ul>
                    </div><!--save-stngs end-->
                  </form>
                </div><!--acc-setting end-->
                </div>
                <div class="tab-pane fade" id="nav-notification" role="tabpanel" aria-labelledby="nav-notification-tab">
                  <div class="acc-setting">
                    <h3>Notifications</h3>
                    <div class="notifications-list">
                      <div class="notfication-details">
                        <div class="noty-user-img">
                          <img src="http://via.placeholder.com/35x35" alt="">
                        </div>
                        <div class="notification-info">
                          <h3><a href="#" title="">Jassica William</a> Comment on your project.</h3>
                          <span>2 min ago</span>
                        </div><!--notification-info -->
                      </div><!--notfication-details end-->
                      <div class="notfication-details">
                        <div class="noty-user-img">
                          <img src="http://via.placeholder.com/35x35" alt="">
                        </div>
                        <div class="notification-info">
                          <h3><a href="#" title="">Poonam Verma</a> Bid on your Latest project.</h3>
                          <span>2 min ago</span>
                        </div><!--notification-info -->
                      </div><!--notfication-details end-->
                      <div class="notfication-details">
                        <div class="noty-user-img">
                          <img src="http://via.placeholder.com/35x35" alt="">
                        </div>
                        <div class="notification-info">
                          <h3><a href="#" title="">Tonney Dhman</a> Comment on your project.</h3>
                          <span>2 min ago</span>
                        </div><!--notification-info -->
                      </div><!--notfication-details end-->
                      <div class="notfication-details">
                        <div class="noty-user-img">
                          <img src="http://via.placeholder.com/35x35" alt="">
                        </div>
                        <div class="notification-info">
                          <h3><a href="#" title="">Jassica William</a> Comment on your project.</h3>
                          <span>2 min ago</span>
                        </div><!--notification-info -->
                      </div><!--notfication-details end-->
                      <div class="notfication-details">
                        <div class="noty-user-img">
                          <img src="http://via.placeholder.com/35x35" alt="">
                        </div>
                        <div class="notification-info">
                          <h3><a href="#" title="">Jassica William</a> Comment on your project.</h3>
                          <span>2 min ago</span>
                        </div><!--notification-info -->
                      </div><!--notfication-details end-->
                      <div class="notfication-details">
                        <div class="noty-user-img">
                          <img src="http://via.placeholder.com/35x35" alt="">
                        </div>
                        <div class="notification-info">
                          <h3><a href="#" title="">Poonam Verma </a> Bid on your Latest project.</h3>
                          <span>2 min ago</span>
                        </div><!--notification-info -->
                      </div><!--notfication-details end-->
                      <div class="notfication-details">
                        <div class="noty-user-img">
                          <img src="http://via.placeholder.com/35x35" alt="">
                        </div>
                        <div class="notification-info">
                          <h3><a href="#" title="">Tonney Dhman</a> Comment on your project</h3>
                          <span>2 min ago</span>
                        </div><!--notification-info -->
                      </div><!--notfication-details end-->
                      <div class="notfication-details">
                        <div class="noty-user-img">
                          <img src="http://via.placeholder.com/35x35" alt="">
                        </div>
                        <div class="notification-info">
                          <h3><a href="#" title="">Jassica William</a> Comment on your project.</h3>
                          <span>2 min ago</span>
                        </div><!--notification-info -->
                      </div><!--notfication-details end-->
                    </div><!--notifications-list end-->
                  </div><!--acc-setting end-->
                </div>
                <div class="tab-pane fade" id="nav-requests" role="tabpanel" aria-labelledby="nav-requests-tab">
                  <div class="acc-setting">
                    <h3>Requests</h3>
                    <div class="requests-list">
                      <div class="request-details">
                        <div class="noty-user-img">
                          <img src="http://via.placeholder.com/35x35" alt="">
                        </div>
                        <div class="request-info">
                          <h3>Jessica William</h3>
                          <span>Graphic Designer</span>
                        </div>
                        <div class="accept-feat">
                          <ul>
                            <li><button type="submit" class="accept-req">Accept</button></li>
                            <li><button type="submit" class="close-req"><i class="la la-close"></i></button></li>
                          </ul>
                        </div><!--accept-feat end-->
                      </div><!--request-detailse end-->
                      <div class="request-details">
                        <div class="noty-user-img">
                          <img src="http://via.placeholder.com/35x35" alt="">
                        </div>
                        <div class="request-info">
                          <h3>John Doe</h3>
                          <span>PHP Developer</span>
                        </div>
                        <div class="accept-feat">
                          <ul>
                            <li><button type="submit" class="accept-req">Accept</button></li>
                            <li><button type="submit" class="close-req"><i class="la la-close"></i></button></li>
                          </ul>
                        </div><!--accept-feat end-->
                      </div><!--request-detailse end-->
                      <div class="request-details">
                        <div class="noty-user-img">
                          <img src="http://via.placeholder.com/35x35" alt="">
                        </div>
                        <div class="request-info">
                          <h3>Poonam</h3>
                          <span>Wordpress Developer</span>
                        </div>
                        <div class="accept-feat">
                          <ul>
                            <li><button type="submit" class="accept-req">Accept</button></li>
                            <li><button type="submit" class="close-req"><i class="la la-close"></i></button></li>
                          </ul>
                        </div><!--accept-feat end-->
                      </div><!--request-detailse end-->
                      <div class="request-details">
                        <div class="noty-user-img">
                          <img src="http://via.placeholder.com/35x35" alt="">
                        </div>
                        <div class="request-info">
                          <h3>Bill Gates</h3>
                          <span>C & C++ Developer</span>
                        </div>
                        <div class="accept-feat">
                          <ul>
                            <li><button type="submit" class="accept-req">Accept</button></li>
                            <li><button type="submit" class="close-req"><i class="la la-close"></i></button></li>
                          </ul>
                        </div><!--accept-feat end-->
                      </div><!--request-detailse end-->
                      <div class="request-details">
                        <div class="noty-user-img">
                          <img src="http://via.placeholder.com/35x35" alt="">
                        </div>
                        <div class="request-info">
                          <h3>Jessica William</h3>
                          <span>Graphic Designer</span>
                        </div>
                        <div class="accept-feat">
                          <ul>
                            <li><button type="submit" class="accept-req">Accept</button></li>
                            <li><button type="submit" class="close-req"><i class="la la-close"></i></button></li>
                          </ul>
                        </div><!--accept-feat end-->
                      </div><!--request-detailse end-->
                      <div class="request-details">
                        <div class="noty-user-img">
                          <img src="http://via.placeholder.com/35x35" alt="">
                        </div>
                        <div class="request-info">
                          <h3>John Doe</h3>
                          <span>PHP Developer</span>
                        </div>
                        <div class="accept-feat">
                          <ul>
                            <li><button type="submit" class="accept-req">Accept</button></li>
                            <li><button type="submit" class="close-req"><i class="la la-close"></i></button></li>
                          </ul>
                        </div><!--accept-feat end-->
                      </div><!--request-detailse end-->
                    </div><!--requests-list end-->
                  </div><!--acc-setting end-->
                </div>
                <div class="tab-pane fade" id="nav-deactivate" role="tabpanel" aria-labelledby="nav-deactivate-tab">
                  <div class="acc-setting">
                  <h3>Deactivate Account</h3>
                  <form>
                    <div class="cp-field">
                      <h5>Email</h5>
                      <div class="cpp-fiel">
                        <input type="text" name="email" placeholder="Email">
                        <i class="fa fa-envelope"></i>
                      </div>
                    </div>
                    <div class="cp-field">
                      <h5>Password</h5>
                      <div class="cpp-fiel">
                        <input type="password" name="password" placeholder="Password">
                        <i class="fa fa-lock"></i>
                      </div>
                    </div>
                    <div class="cp-field">
                      <h5>Please Explain Further</h5>
                      <textarea></textarea>
                    </div>
                    <div class="cp-field">
                      <div class="fgt-sec">
                        <input type="checkbox" name="cc" id="c4">
                        <label for="c4">
                          <span></span>
                        </label>
                        <small>Email option out</small>
                      </div>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pretium nulla quis erat dapibus, varius hendrerit neque suscipit. Integer in ex euismod, posuere lectus id,</p>
                    </div>
                    <div class="save-stngs pd3">
                      <ul>
                        <li><button type="submit">Save Setting</button></li>
                        <li><button type="submit">Restore Setting</button></li>
                      </ul>
                    </div><!--save-stngs end-->
                  </form>
                </div><!--acc-setting end-->
                </div>
            </div>
          </div>
        </div>
      </div><!--account-tabs-setting end-->
    </div>
  </section>

